In [12]:
import kaggle as kg
import pandas as pd
import zipfile

### Downloading dataset from kaggle

In [13]:
!kaggle datasets download -d hmavrodiev/london-bike-sharing-dataset

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /Users/kincunico/.kaggle/kaggle.json'
london-bike-sharing-dataset.zip: Skipping, found more recently modified local copy (use --force to force download)

### Extracting dataset

In [14]:
zipfile_name = 'london-bike-sharing-dataset.zip'

with zipfile.ZipFile(zipfile_name, 'r') as file:
    file.extractall()

#### reading csv with pd

In [15]:
bikes = pd.read_csv('london_merged.csv')
bikes.head()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

### Understanding the data types

In [16]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [17]:
# shapes rows vs columns || shape is an attribute not a method
bikes.shape

(17414, 10)

### renaming columns for better understanding

In [18]:
columns_dict = {
    'timestamp': 'date',
    'cnt': 'total',
    't1': 'temperature',
    't2': 'feels_like_temperature',
    'hum': 'humidity',
    'wind_speed': 'wind_speed',
    'weather_code': 'weather',
    'is_holiday': 'is_holiday',
    'is_weekend': 'is_weekend',
    'season': 'season'
}

bikes.rename(columns=columns_dict, inplace=True)

bikes.head()

,date,total,temperature,feels_like_temperature,humidity,wind_speed,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

## transforming data

In [19]:
bikes.humidity = bikes.humidity / 100

bikes.head()

,date,total,temperature,feels_like_temperature,humidity,wind_speed,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,1.0,0.0,1.0,3.0

In [20]:
bikes.season = bikes.season.astype('string')
bikes.weather = bikes.weather.astype('string')


season_dict = {
    '0.0': 'spring',
    '1.0': 'summer',
    '2.0': 'fall',
    '3.0': 'winter'
}

bikes.season = bikes.season.map(season_dict)

weather_dict = {
    '1.0': 'clear',
    '2.0': 'mist',
    '3.0': 'light_rain',
    '4.0': 'heavy_rain',
    '7.0': 'thunderstorm',
    '10.0': 'freezing',
    '26.0': 'snowfall'
    
}

bikes.weather = bikes.weather.map(weather_dict)

bikes.info()

bikes.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   date                    17414 non-null  object
 1   total                   17414 non-null  int64
 2   temperature             17414 non-null  float64
 3   feels_like_temperature  17414 non-null  float64
 4   humidity                17414 non-null  float64
 5   wind_speed              17414 non-null  float64
 6   weather                 17414 non-null  object
 7   is_holiday              17414 non-null  float64
 8   is_weekend              17414 non-null  float64
 9   season                  17414 non-null  object
dtypes: float64(6), int64(1), object(3)
memory usage: 1.3+ MB

,date,total,temperature,feels_like_temperature,humidity,wind_speed,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,light_rain,0.0,1.0,winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,clear,0.0,1.0,winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,clear,0.0,1.0,winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,clear,0.0,1.0,winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,clear,0.0,1.0,winter